html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.3;
    font-family:'Kumbh Sans', sans-serif;;
    color: white;
    background-color: #fbb034;
    transition: all 300ms ease-in-out;
}

.gradient{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 25rem;
    background: linear-gradient(#ffdd00,#fbb034);
}

.flex{
    display: flex;

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
    
    &-fd-c{
        flex-direction: column;
    }

    &-jc-fe{
        justify-content: flex-end;
    }
}

.place{
    z-index: 1;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

    @media only screen and (min-width: 1024px) {
        padding-left: 15%;
        padding-right: 15%;
      }
}

.header{
   
    margin-top: 2rem;
    max-width: 411px;

    .icon{
        box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
        width: 80%;
    }
}

.title{
    width: 100%;
    line-height: 1.2rem;
    h1{
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        font-size: 2rem;
    }

    p{
        text-align: center;
        font-size: 0.9rem;
        color: rgb(238, 237, 237);
        
    }

    .description1{
        width: 100%;
    }

    .description{
        max-width: 411px;
    }

    .icon{
        gap: 0.3rem;
        img{
            height: 2rem;
            width: 2rem;
        }

        p{
            font-size: 1.2rem;
            color: white;
        }
    }
}

.heart{
    margin-left: 0.2rem;
    font-size: 50rem;
    color: rgb(238, 237, 237);
    transition: all 300ms ease-in-out;
}

.heart-red{
    color:red;
}

.songs{
    margin-top: 3rem;
    
    li{
        border-bottom: 2px solid rgb(238, 237, 237);
    }

    ul{
        margin-left: -2.6rem;
        list-style-type:none;
    }

    p{
        text-align: left;
    }
    
    h3{
        margin-bottom: -0.5rem;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &:hover{
            color: gray;
        }
    }


    .audio{
        display: none;
        width: 100%;
        transition: all 300ms ease-in-out;
        margin-bottom: 1rem;
    }

    .audiosee{
        display: block;
        width: 100%;
        transition: all 300ms ease-in-out;
    }
}

@keyframes transition-in {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transition-out {
    from{
        opacity: 1;
        transform: rotateX(0);
    }

    to{
        opacity: 0;
        transform: rotateX(-10deg);
    }
}


div, section, audio{
    animation: transition-in 2s;
}

